$main-dark: #13002B;
$main: #5B00B6;

@media (max-width: 321px) {
  .contacts {
    &__items {
      &-mail, &-phone {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 576px) {
  .home {
    &__content {
      &-text {
        h1 {
          font-size: 50px !important;
          line-height: 55px !important;
        }
      }

      &-stack {
        img {
          height: 35px !important;
        }
      }
    }

    &__frame {
      &-photo {
        width: 60vw !important;
      }
      &-bg {
        width: 65vw !important;
      }
    }
  }

  .about {
    &__image {
      width: 70vw !important;
    }
  }

  .footer {
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      span {
        margin-top: 15px;
        margin-left: 0 !important;
        font-weight: 500 !important;
      }
    }

    &__right {
      ul li {
        margin: 0 !important;

        &:last-child {
          margin-left: 15px !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px !important;
  }

  p {
    font-size: 14px !important;
  }

  .navbar {
    &__burger-btn {
      display: block;
    }

    &__menu {
      display: none;

      &.active {
        position: fixed;
        top: 90px;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 50px;
        background-color: rgba($color: #000000, $alpha: .8);
        z-index: 2;
      }

      &-items {
        ul {
          display: flex;
          flex-direction: column;

          li {
            margin: 0 !important;
            margin-bottom: 15px !important;

            a {
              color: #fff !important;
              font-size: 18px;
            }
          }
        }
      }

      &-language {
        margin-left: 0;
        ul {
          margin-top: 30px;

          li {
            color: #fff !important;
            font-size: 18px !important;
            padding: 0 15px;
            border-color: #fff !important;

            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  main {
    margin: 80px 0;

    .home {
      &__content {
        &-text {
          h1 {
            font-size: 60px;
            line-height: 65px;
          }
          p {
            font-size: 18px !important;
          }
        }

        &-links {
          margin-top: 30px;
        }

        &-stack {
          margin-top: 30px;
          flex-direction: column;

          span {
            border-right: none;
            border-bottom: 2px $main-dark solid;
            padding: 0 5px 5px 5px;
            margin-bottom: 15px;
          }

          ul {
            flex-wrap: wrap;
            justify-content: center;
            li {
              margin: 15px;
            }
          }
        }
      }

      &__frame {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        &-photo {
          width: 50vw;
        }

        &-bg {
          width: 55vw;
        }
      }
    }
  }

  .about {
    &__text {
      margin: 0;
      text-align: left;

      &-p {
        border-right: none;
        border-left: 2px $main solid;
        padding-right: 0;
        padding-left: 10px;
      }
    }

    .col-lg-4 {
      display: flex;
      justify-content: center;
    }

    &__image {
      margin-top: 30px;
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .portfolio {
    margin-top: 80px;

    &__descr {
      margin-top: 20px;
    }

    &__stack {
      font-size: 16px !important;
    }
  }

  .contacts {
    .container {
      width: 100%;
    }

    img {
      height: 30px;
    }
  }
}


